<header class="p-3 bg--blue-grey position-sticky shadow">
    <div class="container d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <img src="assets/images/en-stock.png" alt="" class="img-fluid" width="30">
            <h5 class="ms-3 my-0 txt--white">Mon Stock</h5>
        </div>
        <button class="btn btn-secondary btn-sm">
            <i class="fa fa-power-off"></i>
        </button>
    </div>
</header>
<div class="container p-3">
    <router-outlet></router-outlet>
</div>